/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Montserrat&display=swap");

/* --------- root styling and global variables --------- */
:root {
  /* TODO: need clean-up for unused and test variables*/
  /* CSS Global variables */
  --default-backbround-color: white;
  --test-primary-color: turquoise;
  --test-secondary-color: blue;
  /* col-2 based on bootstrap xs breakpoint */
  --xs-adjust-height: 58px;
  /* CSS root styling */
}

/* --------- CSS for all elemets --------- */
*,
/* ::before/::after and *::before/*::after have the same effect - apply to all */
*::before,
*::after {
  box-sizing: border-box;
  color: black;
  scroll-behavior: smooth;
}

body {
  font-family: "Kaisei Tokumin", serif;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
}

.main-display-element,
#map {
  height: calc(100vh - var(--xs-adjust-height));
}

#floating-search {
  position: absolute;
  top: 11px;
  left: 35px;
  z-index: 1001;
}

.search {
  position: relative;
}
.search button {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 36px;
  width: 80px;
  background: blue;
}

#search-results {
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 2px;
  opacity: 0.9;
  border-radius: 0 0 5px 5px;
  max-height: 70vh;
  font-size: 14px;
}

#vaccine-image {
  height: 40px;
}

#staticBackdrop {
  z-index: 2000;
}

/* --------- Custom CSS for bootstrap breakpoints (reference size and above) --------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .h-sm-100 {
    height: 100%;
  }
  .main-display-element,
  #map {
    height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
